
@font-face {
    font-family: 'Montserrat Alternates'; 
    src: url(../font/MontserratAlternates-Regular.ttf); 
}
@font-face {
    font-family: 'Montserrat Alternates Medium'; 
    src: url(../font/MontserratAlternates-Medium.ttf); 
}

body {
    margin: 0;
    padding: 40px;
    background-color: #F6F6F6;
    font-family: 'Montserrat Alternates'; 
    font-size: 18px;
    background-image: url('../img/Group 45.png');
    background-size: auto;
    background-position: bottom left;
    background-repeat: no-repeat;
}
.logo {
    margin-right: auto;
    width: 100px;
    height: auto;
}
.navigation {
    display: flex;
    margin: 0;
    padding: 0 auto;
}
.start {
    margin-top: auto;
}
.item {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 5px;
}
.menu {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}
.list {
    display: block;
    list-style-type: none;
    margin: 10px;
    padding: 5px;
}
.menu-list{
    display: block;
    list-style-type: none;
    margin: auto 10%;
    padding: 5px; 

}
.nav-link {
    font-family: 'Montserrat Alternates Medium'; 
    text-decoration: none;
    color: black;
    margin: 0 auto;
    font-weight: bold;
}
.nav-link:hover {
    color: #4AA55E;
}
.icon {
    width: 20px;
    height: 20px;
    margin-right: 20px;
}
.block {
    border-radius:  20px;
    border: medium solid #4AA55E;
    background-color: #ffffff;
}
.shopping-cart {
    width: 750px;
    height: 423px;
    margin: 80px auto;
    background: #FFFFFF;
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
  }
  .title {
    height: 60px;
    border-bottom: 1px solid #E1E8EE;
    padding: 20px 30px;
    color: #5E6977;
    font-size: 18px;
    font-weight: 400;
  }
   
  .item {
    padding: 20px 30px;
    height: 120px;
    display: flex;
  }
   
  .item:nth-child(3) {
    border-top:  1px solid #E1E8EE;
    border-bottom:  1px solid #E1E8EE;
  }
  .buttons {
    position: relative;
    padding-top: 30px;
    margin-right: 60px;
  }
  .delete-btn,
  .like-btn {
    display: inline-block;
    Cursor: pointer;
  }
  .delete-btn {
    width: 18px;
    height: 17px;
    background: url("delete-icn.svg") no-repeat center;
  }
   
  .like-btn {
    position: absolute;
    top: 9px;
    left: 15px;
    background: url('twitter-heart.png');
    width: 60px;
    height: 60px;
    background-size: 2900%;
    background-repeat: no-repeat;
  }
  .is-active {
    animation-name: animate;
    animation-duration: .8s;
    animation-iteration-count: 1;
    animation-timing-function: steps(28);
    animation-fill-mode: forwards;
  }
   
  @keyframes animate {
    0%   { background-position: left;  }
    50%  { background-position: right; }
    100% { background-position: right; }
  }
  .image {
    margin-right: 50px;
  }
   
  Let’s add some basic style to  product name and description.
  .description {
    padding-top: 10px;
    margin-right: 60px;
    width: 115px;
  }
   
  .description span {
    display: block;
    font-size: 14px;
    color: #43484D;
    font-weight: 400;
  }
   
  .description span:first-child {
    margin-bottom: 5px;
  }
  .description span:last-child {
    font-weight: 300;
    margin-top: 8px;
    color: #86939E;
  }
  .quantity {
    padding-top: 20px;
    margin-right: 60px;
  }
  .quantity input {
    -webkit-appearance: none;
    border: none;
    text-align: center;
    width: 32px;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
  }
   
  button[class*=btn] {
    width: 30px;
    height: 30px;
    background-color: #E1E8EE;
    border-radius: 6px;
    border: none;
    cursor: pointer;
  }
  .minus-btn img {
    margin-bottom: 3px;
  }
  .plus-btn img {
    margin-top: 2px;
  }
   
  button:focus,
  input:focus {
    outline:0;
  }
  .total-price {
    width: 83px;
    padding-top: 27px;
    text-align: center;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
  }

.price {
    font-weight: 400;
    font-size: 20px;
    font-family: 'Montserrat Alternates Medium'
}
.desribe{
    font-family: 'Montserrat Alternates Medium'; 
}
.page-footer{
    margin-top: 50px;
    padding: 30px;
}
.conteiner {
    display: flex;
}
.footer-item {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-right: 20px;
}
.footer-list {
    display: block;
    list-style-type: none;
    text-decoration: none;
    margin: 10px 0;
    padding: 5px;
}
.foot-link{
    font-family: 'Montserrat Alternates'; 
    text-decoration: none;
    color: black;
}
.foot-link:hover {
    color: #4AA55E;
}
.social {
    display: flex;
    flex-direction: column;
    margin-left: auto;
}
.social-img {
    margin-top: 10px;
}
